.i-phone14-plus1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.i-phone14-plus1-i-phone14-plus1 {
  width: 100%;
  height: 2183px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.i-phone14-plus1-text {
  top: 10px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle24 {
  top: 28px;
  left: 386px;
  width: 16px;
  height: 1px;
  position: absolute;
}
.i-phone14-plus1-rectangle25 {
  top: 31px;
  left: 384px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.i-phone14-plus1-rectangle26 {
  top: 34px;
  left: 386px;
  width: 16px;
  height: 1px;
  position: absolute;
}
.i-phone14-plus1-image93965changecolorsatgreatdesign1 {
  top: 137px;
  left: 168px;
  width: 236px;
  height: 232px;
  position: absolute;
}
.i-phone14-plus1-text002 {
  top: 136.56982421875px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 30.45161247253418px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text007 {
  top: 115px;
  left: 25.9033203125px;
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 15.22580623626709px;
  font-style: Regular;
  text-align: left;
  font-family: Hannari;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle27 {
  top: 261px;
  left: 24px;
  width: 54px;
  height: 17px;
  position: absolute;
  border-radius: 8px;
}
.i-phone14-plus1-text009 {
  top: 265px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 6.6666669845581055px;
  font-style: Light;
  text-align: left;
  font-family: Lexend;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle {
  top: 399px;
  left: 143px;
  width: 143px;
  height: 112px;
  position: absolute;
}
.i-phone14-plus1-text011 {
  top: 498px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 23.225805282592773px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-vector1 {
  top: 580.4130859375px;
  left: 38.25732421875px;
  width: 78px;
  height: 86px;
  position: absolute;
}
.i-phone14-plus1-vector2 {
  top: 579px;
  left: 26px;
  width: 93px;
  height: 91px;
  position: absolute;
}
.i-phone14-plus1-text013 {
  top: 579px;
  left: 172px;
  color: rgba(0, 0, 0, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 9.151838302612305px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 147.5000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle8 {
  top: 678px;
  left: 224px;
  width: 52px;
  height: 16px;
  position: absolute;
  border-radius: 2.8910982608795166px;
}
.i-phone14-plus1-text015 {
  top: 682.73095703125px;
  left: 229.7822265625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 4.730888366699219px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle1 {
  top: 680.1025390625px;
  left: 263.94970703125px;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 8.410468101501465px;
}
.i-phone14-plus1-rectangle81 {
  top: 757px;
  left: 26px;
  width: 376px;
  height: 195px;
  position: absolute;
  border-radius: 17.70403289794922px;
}
.i-phone14-plus1-image104413skills2 {
  top: 805.0537109375px;
  left: 36.6787109375px;
  width: 359px;
  height: 91px;
  position: absolute;
}
.i-phone14-plus1-text017 {
  top: 782.572265625px;
  left: 202.75927734375px;
  color: rgba(255, 255, 255, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 13.488786697387695px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text022 {
  top: 836.2470703125px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 21px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text027 {
  top: 872.779296875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text032 {
  top: 836.52783203125px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 16px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text037 {
  top: 853.388671875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text039 {
  top: 853.388671875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 34px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text041 {
  top: 872.216796875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text043 {
  top: 819.1044921875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text048 {
  top: 819.1044921875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle9 {
  top: 757px;
  left: 26px;
  width: 376px;
  height: 195px;
  position: absolute;
  border-radius: 17.70403289794922px;
}
.i-phone14-plus1-image104413skills1 {
  top: 805.0537109375px;
  left: 36.6787109375px;
  width: 359px;
  height: 91px;
  position: absolute;
}
.i-phone14-plus1-text050 {
  top: 782.572265625px;
  left: 202.75927734375px;
  color: rgba(255, 255, 255, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 13.488786697387695px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text055 {
  top: 836.2470703125px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 21px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text060 {
  top: 872.779296875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text065 {
  top: 836.52783203125px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 16px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text070 {
  top: 853.388671875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text072 {
  top: 853.388671875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 34px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text074 {
  top: 872.216796875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text076 {
  top: 819.1044921875px;
  left: 144.86962890625px;
  color: rgba(255, 255, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text081 {
  top: 819.1044921875px;
  left: 337.3662109375px;
  color: rgba(255, 255, 255, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 6.744393348693848px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text083 {
  top: 1002px;
  left: 178.900390625px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 12.496236801147461px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-image60b6b54cca1a1af1b2a9aceagallery011 {
  top: 1036.36474609375px;
  left: 26px;
  width: 159px;
  height: 99px;
  position: absolute;
}
.i-phone14-plus1-softdashwebsitetemplate1 {
  top: 1173.0419921875px;
  left: 205.3310546875px;
  width: 194px;
  height: 90px;
  position: absolute;
}
.i-phone14-plus1-image605ad501a6b1312acab311a8faradaygallery01p1080 {
  top: 1295.4013671875px;
  left: 26px;
  width: 113px;
  height: 71px;
  position: absolute;
}
.i-phone14-plus1-image6093279c6fa7384b57f6a0baluxegallery041 {
  top: 1162.88916015625px;
  left: 26px;
  width: 151px;
  height: 94px;
  position: absolute;
}
.i-phone14-plus1-academiafreetemplate1 {
  top: 1026.73193359375px;
  left: 267.7724609375px;
  width: 139px;
  height: 110px;
  position: absolute;
}
.i-phone14-plus1-image66445enautomatico1 {
  top: 1273.793212890625px;
  left: 254.9091796875px;
  width: 155px;
  height: 94px;
  position: absolute;
}
.i-phone14-plus1-rectangle19 {
  top: 1445.7568359375px;
  left: 163.548828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle20 {
  top: 1444px;
  left: 26.7529296875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle21 {
  top: 1714.83056640625px;
  left: 26px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle22 {
  top: 1714.83056640625px;
  left: 294.822265625px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle23 {
  top: 1580.293701171875px;
  left: 300.34423828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle241 {
  top: 1714.83056640625px;
  left: 158.27783203125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle251 {
  top: 1580.293701171875px;
  left: 163.7998046875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle261 {
  top: 1580.293701171875px;
  left: 26.7529296875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-text088 {
  top: 1463.076171875px;
  left: 61.89306640625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text090 {
  top: 1537.62353515625px;
  left: 60.88916015625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text092 {
  top: 1670.15234375px;
  left: 57.6259765625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text094 {
  top: 1809.20703125px;
  left: 57.6259765625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text096 {
  top: 1537.62353515625px;
  left: 193.6689453125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text098 {
  top: 1670.15234375px;
  left: 190.40576171875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text100 {
  top: 1809.20703125px;
  left: 190.40576171875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle271 {
  top: 1445.7568359375px;
  left: 300.34423828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-text102 {
  top: 1537.62353515625px;
  left: 337.74365234375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text104 {
  top: 1670.15234375px;
  left: 334.48046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text106 {
  top: 1809.20703125px;
  left: 334.48046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text108 {
  top: 1463.076171875px;
  left: 201.9521484375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text110 {
  top: 1463.076171875px;
  left: 328.95849609375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text112 {
  top: 1597.11083984375px;
  left: 44.8251953125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text114 {
  top: 1599.369873046875px;
  left: 203.4580078125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text116 {
  top: 1725.87451171875px;
  left: 55.1162109375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text118 {
  top: 1728.133544921875px;
  left: 163.7998046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text120 {
  top: 1728.133544921875px;
  left: 298.08544921875px;
  color: rgba(255, 255, 255, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text122 {
  top: 1597.11083984375px;
  left: 332.974609375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-iconsax-lineararrowcircleright {
  top: 1538.39697265625px;
  left: 94.564453125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright01 {
  top: 1670.92578125px;
  left: 91.30126953125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright02 {
  top: 1809.98046875px;
  left: 91.30126953125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright03 {
  top: 1538.39697265625px;
  left: 227.34423828125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright04 {
  top: 1670.92578125px;
  left: 224.0810546875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright05 {
  top: 1809.98046875px;
  left: 224.0810546875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright06 {
  top: 1538.39697265625px;
  left: 371.4189453125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright07 {
  top: 1670.92578125px;
  left: 368.15576171875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright08 {
  top: 1809.98046875px;
  left: 368.15576171875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-rectangle10 {
  top: 1445.7568359375px;
  left: 163.548828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle15 {
  top: 1444px;
  left: 26.7529296875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle18 {
  top: 1714.83056640625px;
  left: 26px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle16 {
  top: 1714.83056640625px;
  left: 294.822265625px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle12 {
  top: 1580.293701171875px;
  left: 300.34423828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle17 {
  top: 1714.83056640625px;
  left: 158.27783203125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle13 {
  top: 1580.293701171875px;
  left: 163.7998046875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-rectangle14 {
  top: 1580.293701171875px;
  left: 26.7529296875px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-text124 {
  top: 1463.076171875px;
  left: 61.89306640625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text126 {
  top: 1537.62353515625px;
  left: 60.88916015625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text128 {
  top: 1670.15234375px;
  left: 57.6259765625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text130 {
  top: 1809.20703125px;
  left: 57.6259765625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text132 {
  top: 1537.62353515625px;
  left: 193.6689453125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text134 {
  top: 1670.15234375px;
  left: 190.40576171875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text136 {
  top: 1809.20703125px;
  left: 190.40576171875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle11 {
  top: 1445.7568359375px;
  left: 300.34423828125px;
  width: 100px;
  height: 118px;
  position: absolute;
  border-radius: 14.307075500488281px;
}
.i-phone14-plus1-text138 {
  top: 1537.62353515625px;
  left: 337.74365234375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text140 {
  top: 1670.15234375px;
  left: 334.48046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text142 {
  top: 1809.20703125px;
  left: 334.48046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 6.024031639099121px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text144 {
  top: 1463.076171875px;
  left: 201.9521484375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text146 {
  top: 1463.076171875px;
  left: 328.95849609375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text148 {
  top: 1597.11083984375px;
  left: 44.8251953125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text150 {
  top: 1599.369873046875px;
  left: 203.4580078125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text152 {
  top: 1725.87451171875px;
  left: 55.1162109375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text154 {
  top: 1728.133544921875px;
  left: 163.7998046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text156 {
  top: 1728.133544921875px;
  left: 298.08544921875px;
  color: rgba(255, 255, 255, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text158 {
  top: 1597.11083984375px;
  left: 332.974609375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 9.03604793548584px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-iconsax-lineararrowcircleright09 {
  top: 1538.39697265625px;
  left: 94.564453125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright10 {
  top: 1670.92578125px;
  left: 91.30126953125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright11 {
  top: 1809.98046875px;
  left: 91.30126953125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright12 {
  top: 1538.39697265625px;
  left: 227.34423828125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright13 {
  top: 1670.92578125px;
  left: 224.0810546875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright14 {
  top: 1809.98046875px;
  left: 224.0810546875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright15 {
  top: 1538.39697265625px;
  left: 371.4189453125px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright16 {
  top: 1670.92578125px;
  left: 368.15576171875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-iconsax-lineararrowcircleright17 {
  top: 1809.98046875px;
  left: 368.15576171875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-text160 {
  top: 1383px;
  left: 172px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 22.518518447875977px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-rectangle2 {
  top: 1965.87548828125px;
  left: 55.80810546875px;
  width: 166px;
  height: 128px;
  position: absolute;
}
.i-phone14-plus1-rectangle242 {
  top: 1930px;
  left: 195.6748046875px;
  width: 118px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle252 {
  top: 1953.270751953125px;
  left: 195.6748046875px;
  width: 118px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle262 {
  top: 2052.898193359375px;
  left: 229.36865234375px;
  width: 51px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 2.4240224361419678px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle272 {
  top: 1976.54150390625px;
  left: 195.6748046875px;
  width: 118px;
  height: 65px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-text165 {
  top: 1935.33251953125px;
  left: 207.3095703125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text167 {
  top: 1958.603515625px;
  left: 205.8544921875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text169 {
  top: 1984.29833984375px;
  left: 204.400390625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text171 {
  top: 2058.230712890625px;
  left: 247.3056640625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-frameiconlinkedinoutlined {
  top: 2141px;
  left: 255.5986328125px;
  width: 18.422569274902344px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group {
  top: 0px;
  left: 0px;
  width: 18.422569274902344px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector01 {
  top: 4.4690260887146px;
  left: 5.833805561065674px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-frameiconinstagramoutlined {
  top: 2141px;
  left: 227.72216796875px;
  width: 18.305570602416992px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group01 {
  top: 0px;
  left: 0px;
  width: 18.305570602416992px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector02 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-group02 {
  top: 4.189612865447998px;
  left: 4.576014995574951px;
  width: 9.152785301208496px;
  height: 8.37903881072998px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector03 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.i-phone14-plus1-vector04 {
  top: 2.5140633583068848px;
  left: 2.74625563621521px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.i-phone14-plus1-vector05 {
  top: 1.6760571002960205px;
  left: 6.406990051269531px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.i-phone14-plus1-frameicontwitteroutlined {
  top: 2141.983642578125px;
  left: 171px;
  width: 18.90737533569336px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group03 {
  top: 0px;
  left: 0px;
  width: 18.90737533569336px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector06 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector07 {
  top: 5.027318954467773px;
  left: 5.041525840759277px;
  width: 10px;
  height: 7px;
  position: absolute;
}
.i-phone14-plus1-frameiconskypeoutlined {
  top: 2141px;
  left: 199.36083984375px;
  width: 18.910274505615234px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group04 {
  top: 0px;
  left: 0px;
  width: 18.910274505615234px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector08 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector09 {
  top: 4.4690260887146px;
  left: 5.043051242828369px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.i-phone14-plus1-rectangle28 {
  top: 2150.101318359375px;
  left: 353.962890625px;
  width: 150px;
  height: 115px;
  position: absolute;
  border-radius: 30.300281524658203px;
}
.i-phone14-plus1-rectangle29 {
  top: 2139.677734375px;
  left: -54px;
  width: 150px;
  height: 115px;
  position: absolute;
  border-radius: 30.300281524658203px;
}
.i-phone14-plus1-rectangle3 {
  top: 1965.87548828125px;
  left: 55.80810546875px;
  width: 166px;
  height: 128px;
  position: absolute;
}
.i-phone14-plus1-rectangle191 {
  top: 1930px;
  left: 195.6748046875px;
  width: 118px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle201 {
  top: 1953.270751953125px;
  left: 195.6748046875px;
  width: 118px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle221 {
  top: 2052.898193359375px;
  left: 229.36865234375px;
  width: 51px;
  height: 18px;
  position: absolute;
  border-style: solid;
  border-width: 2.4240224361419678px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-rectangle211 {
  top: 1976.54150390625px;
  left: 195.6748046875px;
  width: 118px;
  height: 65px;
  position: absolute;
  border-style: solid;
  border-width: 0.7272067666053772px;
  border-radius: 6.7872633934021px;
}
.i-phone14-plus1-text173 {
  top: 1935.33251953125px;
  left: 207.3095703125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text175 {
  top: 1958.603515625px;
  left: 205.8544921875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text177 {
  top: 1984.29833984375px;
  left: 204.400390625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-text179 {
  top: 2058.230712890625px;
  left: 247.3056640625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 5.817654132843018px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone14-plus1-frameiconlinkedinoutlined1 {
  top: 2141px;
  left: 255.5986328125px;
  width: 18.422569274902344px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group05 {
  top: 0px;
  left: 0px;
  width: 18.422569274902344px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector10 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector11 {
  top: 4.4690260887146px;
  left: 5.833805561065674px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.i-phone14-plus1-frameiconinstagramoutlined1 {
  top: 2141px;
  left: 227.72216796875px;
  width: 18.305570602416992px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group06 {
  top: 0px;
  left: 0px;
  width: 18.305570602416992px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector12 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-group07 {
  top: 4.189612865447998px;
  left: 4.576014995574951px;
  width: 9.152785301208496px;
  height: 8.37903881072998px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector13 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.i-phone14-plus1-vector14 {
  top: 2.5140633583068848px;
  left: 2.74625563621521px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.i-phone14-plus1-vector15 {
  top: 1.6760571002960205px;
  left: 6.406990051269531px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.i-phone14-plus1-frameicontwitteroutlined1 {
  top: 2141.983642578125px;
  left: 171px;
  width: 18.90737533569336px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group08 {
  top: 0px;
  left: 0px;
  width: 18.90737533569336px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector16 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector17 {
  top: 5.027318954467773px;
  left: 5.041525840759277px;
  width: 10px;
  height: 7px;
  position: absolute;
}
.i-phone14-plus1-frameiconskypeoutlined1 {
  top: 2141px;
  left: 199.36083984375px;
  width: 18.910274505615234px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-group09 {
  top: 0px;
  left: 0px;
  width: 18.910274505615234px;
  height: 16.75807762145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone14-plus1-vector18 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.i-phone14-plus1-vector19 {
  top: 4.4690260887146px;
  left: 5.043051242828369px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.i-phone14-plus1-rectangle30 {
  top: 2150.101318359375px;
  left: 353.962890625px;
  width: 150px;
  height: 115px;
  position: absolute;
  border-radius: 30.300281524658203px;
}
.i-phone14-plus1-rectangle231 {
  top: 2139.677734375px;
  left: -54px;
  width: 150px;
  height: 115px;
  position: absolute;
  border-radius: 30.300281524658203px;
}
